<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- script -->
<script type="text/javascript">
	function httpGetAsync(theUrl, callback) {
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
				callback(xmlHttp.responseText);
		}
		xmlHttp.open("GET", theUrl, true); // true for asynchronous
		xmlHttp.send(null);
	}

	httpGetAsync('http://127.0.0.1:2000/store', (response) => {
		// click on store to retrieve item instead of an alert
		// alert(response);
		console.log(response);
	})
</script>
</head>
<body>
	<div id="myElement">
		Hello from the HTML World!
	</div>
</body>
</html>
